.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: white;
    font-family: 'Lato', sans-serif;
    .logo {
        width: 133px;
        height: fit-content;
        margin-top: 154px;
        margin-bottom: 56px;
    }
    .searchResult {
        width: 540px;
        margin-top: 42px;
        border-radius: 5px;
        padding: 0px 0px 0px 20px;
        font-size: 13px;
        text-align: left;
        .answer {
            word-wrap: break-word;
            color: black;
            margin-bottom: 49px;
        }
        .answerBlock {
            margin-top: 21px;
        }
        .answerTitle {
            font-weight: 600;
            color: #B7B7B9;
        }
        .answerContent {
            font-weight: normal;
            color: #555B6F;
        }
        .clickable {
            cursor: pointer;
        }

    }
}