
.searchBox {
    width: 799px;
    height: auto;
    background-color: var(--dark-grey-color);
    border: 1px solid var(--color-border);
    border-radius: 12px;
    padding: 11px 11px 30px 11px;

    .searchTitle {
        margin-bottom: 7px;
    }

    .searchSubtitle {
        margin-bottom: 18px;
    }

    .loading {
        margin-top: 8px;
    }
    .noAnswer {
        margin-top: 8px
    }

    .searchResult {
        width: 622px;
        margin-top: 23px;
        border-radius: 5px;
        text-align: left;
        .answer {
            word-wrap: break-word;
        }
        .answerInformation {
            margin-top: 30px;
            .answerBlock {
                margin-top: 15px;
                .subtitle {
                    margin-bottom: 8px;
                }
            }

            .clickable {
                cursor: pointer;
            }
        }
    }
}